.app{
  text-align: center;
}
.name{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 70px;
  line-height: 70px;
  margin: 0;
}
.menu{
  border-bottom: 1px solid black;
  padding-left: 20px;
  text-align: left;
}
.btn{
  float:right;
  margin: 5px;
}
.orderBt{
  width: 120px;
  height: 50px;
  float: none;
  margin: 10px;
}
.bottom{
  border-bottom: 1px solid black;
}
body{
  margin: 0px;
}
.app{
  height: 100vh;
}
.input{
  text-align: center;
  margin: 10px;
}
