body {
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
}
.kitchenTable {
  width: 100%;
  height: 100%;
  color: #3c2a2c;
}
.kitchenTable th,
.kitchenTable td {
  font-family: "고딕체";
  border: 1px solid black;
  text-align: center;
  border: none;
  font-size: 40px;
  font-weight: bolder;
}
