body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.kitchenDiv {
  width: 100%;
  height: 100%;
  color: #3c2a2c;
}

.tableDiv {
  font-family: "고딕체";
  border: none;
  text-align: center;
  font-size: 1.8vw;
  font-weight: bolder;
}

.kitchenBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the content for larger screens */
}
