body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}
.kitchenDiv {
  width: 100%;
  height: 100%;
  color: #3c2a2c;
}
.tableDiv {
  font-family: "고딕체";
  border: 1px solid #3c2a2c;
  text-align: center;
  border: none;
  font-size: 40px;
  font-weight: bolder;
}
.kitchenBody {
  display: flex;
  flex-wrap: wrap;
}